@model GoldLaminates.Areas.Blog.Models.BlogTb
@{
    ViewBag.Title = "Create Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        var Tags = '@Model.Tags';
        foodList = Tags.split(",");
        var newFood = "";
        // re-display the records from foodList the same way we did it in addToFood()
        for (var i = 0; i < foodList.length; i++) {
            newFood += "<a href='#' onClick='removeRecord(" + i + ");'>X</a> " + foodList[i];
        };
        document.getElementById('foods').innerHTML = newFood;
        $("#PageArray").val("");

        @*var SlectedPageids = '@Model.Tags';
        var Values = SlectedPageids.split(",");
        $("#PageArray").val(Values);*@

        
    });
</script>
<style>
    .inline {
        display: inline-block;
    }
</style>

<script src="~/Scripts/ImageProcessing.js"></script>

@Html.Partial("_EditorPartial")
<h2>Edit Blog</h2>
<div class="form-horizontal">
    @Html.HiddenFor(m=>m.BlogId)
    <div class="form-group">
        <label class="control-label col-md-2">Blog Category :</label>

        <div class="col-md-20">

            @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.FaqCat, "--Select Category--", new { @id = "CatID", @class = "form-control", onchange = "CatDropChange()" })
            <span id="titleError" class="as err_1" style="color:red;font-size:small"> </span>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Purpose :</label>

        <div class="col-md-20">

            @Html.DropDownListFor(m => m.Purpose, (IEnumerable<SelectListItem>)ViewBag.purpose, new { @id = "BlogPurpose", @class = "form-control" })
            <span id="titleError" class="as err_2" style="color:red;font-size:small"> </span>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tags :</label>

        <div class="col-md-20">
            @*@Html.DropDownListFor(r => r.Tags, (IEnumerable<SelectListItem>)ViewBag.Tags, new { @class = "form-control multiselect", id = "PageArray", multiple = "multiple", Name = "PageArray[]" })*@
            @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control inline", maxlength = "50", @id = "PageArray" } })
            <div style="display:inline">
                <input type="button" value="Add Tags" onclick="return addToFood();" />
                <span id="foods"></span>
            </div>
            <span id="titleError" class="as err_3" style="color:red;font-size:small"> </span>

        </div>
    </div>
    @*<div class="form-group">
        <label class="control-label col-md-2">Tags :</label>

        <div class="col-md-20">
            @Html.DropDownListFor(r => r.Tags, (IEnumerable<SelectListItem>)ViewBag.Tags, new { @class = "form-control multiselect", id = "PageArray", multiple = "multiple", Name = "PageArray[]" })



            <span id="titleError" class="as err_3" style="color:red;font-size:small"> </span>

        </div>
    </div>*@

    <div class="form-group">
        <label class="control-label col-md-2">Blog Title:</label>
        @*@Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.BlogTitle, new { htmlAttributes = new { @class = "form-control", maxlength = "500", @id = "BlogTitle" } })
            <span id="titleError" class="as err_4" style="color:red;font-size:small"> </span>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Blog Description</label>

        <div class="col-md-10">
            @Html.TextAreaFor(m => m.BlogDetail, new { id = "BlogDescription2", placeholder = "Write Your Answer Here", type = "area", @name = "editor2" })
            <span id="titleError" class="as err_5" style="color:red;font-size:small"> </span>

        </div>
    </div>

    
    <div class="form-group">
        <label class="control-label col-md-2">Video Url :</label>
        @*@Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control",placeholder="Only Youtube Video", maxlength = "250", id = "BlogVideo" } })
            <span id="titleError" class="as err_1" style="color:red;font-size:small"> </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Upload Image :</label>

        <div class="col-md-10">
            <input type="file" name="file" id="upload" style="width: 100%;" />



        </div>
        <img id="target_img" src="@Model.Image" style="width:120px ;height:120px" />
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Blog Resources : </label>

        <div class="col-md-10">
            <input type="file" name="pdf" id="upload1" style="width: 100%;" />
             <img id="target_i" style="width:120px ;height:120px" />
        </div>
        
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">To Remove Resource : </label>
        <div class="col-md-10">
            <input type="checkbox" id="RemoveResource" class="form-control" />
            </div>
        </div>

    <div class="form-group">
        <label class="control-label col-md-2">Meta Title :</label>
        @*@Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control", maxlength = "50", @id = "MetaTitle" } })
            <span id="titleError" class="as err_1" style="color:red;font-size:small"> </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Meta Keywords :</label>
        @*@Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.MetaKeyWord, new { htmlAttributes = new { @class = "form-control", maxlength = "50", @id = "MetaKeyword" } })
            <span id="titleError" class="as err_1" style="color:red;font-size:small"> </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Meta Description :</label>
        @*@Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">

            @Html.TextAreaFor(m => m.MetaDescription, new { id = "BlogMetaDescription", type = "area", @name = "editor1", rows = 8, columns = 37 })
            <span id="titleError" class="as err_1" style="color:red;font-size:small"> </span>

        </div>
    </div>

    @*<div class="form-group">
        <label class="control-label col-md-2">Blog Date :</label>
      
        <div style="height: 100px; width: 277px;" class="col-md-10">
            @Html.TextBoxFor(m => m.CreatedDate, new { @id = "BlogDate", type = "date" })
          

        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" onclick="SaveBlog()" value="Update" class="btn btn-default" />
        </div>
    </div>

</div>





@*<link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>*@
@*<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.multiselect').multiselect();
    });
</script>*@

<script>
    $(document).ready(function () {

        CKEDITOR.replace('BlogDescription2');
       
        //$(function () {

        //    $("#BlogDate").datetimepicker({
        //        viewMode: 'years'
        //    });

        //});
    });
</script>
<script>

    function SaveBlog() {
        
        $(".as").text("");
        var PageArray = [];
        var Checkbox = 0;
        

        if ($("#RemoveResource").is(':checked'))
            {
            Checkbox=1;
    }

        PageArray = $("#PageArray").val();
        var upload = $("#upload").val();
        var upload1 = $("#upload1").val();
        var BlogDescription = CKEDITOR.instances['BlogDescription2'].getData();
        var BlogMetaDescription = $("#BlogMetaDescription").val();
        var CatID = $("#CatID").val();
        var BlogTitle = $("#BlogTitle").val();
      
        var BlogPurpose = $("#BlogPurpose").val();
        var MetaTitle = $("#MetaTitle").val();
        var BlogVideo=$("#BlogVideo").val();
        var MetaKeyword = $("#MetaKeyword").val();



        oldFile = OldFile;
        newFile = NewFile;
        pdf = Pdf
        var Resources = $("#uploadPdf").val();


        var formData = new FormData();
        if (oldFile != undefined || newFile != undefined) {
            formData.append("filename", oldFile.name);
            formData.append("filetype", oldFile.type);
            formData.append("file", newFile);
        }
        if (pdf != undefined) {
            formData.append("pdf", Pdf);

        }
        formData.append("Resources", Resources);
        formData.append("BlogDescription", BlogDescription);

        formData.append("BlogMetaDescription", BlogMetaDescription);
        formData.append("CatID", CatID);
        formData.append("BlogTitle", BlogTitle);
        formData.append("BlogTag", foodList);
        formData.append("BlogPurpose", BlogPurpose);
        formData.append("MetaTitle", MetaTitle);
        formData.append("MetaKeyword", MetaKeyword);
        formData.append("BlogId", $("#BlogId").val());
        formData.append("BlogVideo", BlogVideo);
       // formData.append("BlogDate", $("#BlogDate").val());
        formData.append("RemoveResource", Checkbox);
        $("#loading").fadeIn();
        ///treatmentcategoryTbs/Create
        $.ajax({
            url: "/Blog/Blog/UpdateBlog",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                $("#loading").fadeOut();
                if (data.result == "Null") {
                    $(".err_" + data.data).text("Field Is Required")
                }

                else {
                    $(".as").text("");
                    var loc = "@Url.Action("BlogIndex", "Blog", new {area="Blog" })";
                    window.location.href = loc;
                }
            }
        });


    }

</script>
<script>
    $(function () {
        var defaultUploadBtn = $('#upload1');
        //uploadBtn.on('click', function (e) {
        //    e.stopPropagation();
        //    e.preventDefault();
        //    //trigger default file upload button
        //    defaultUploadBtn.click();
        //});

        defaultUploadBtn.on('change', function () {
          
            SecondImg = 0;
            //retrieve selected uploaded files data
            $("#target").hide();
            var files = $(this)[0].files;

            var extension = files[0].type.substr((files[0].type.lastIndexOf('/') + 1));
            if (extension == "pdf") {

                Pdf = document.getElementById("upload1").files[0];
                return false;
            }
            else if (extension == "jpeg") {
                SecondImg = 1;
                processFiles(files);

            }
            else {
                alert("Upload only JPEG or PDF Files")
                $("#upload1").val("");

                return;

            }
        });
    });
</script>

    <script>
    var foodList = [];

    function addToFood() {
        var addFood = document.getElementById('PageArray').value;
        if (addFood == "")
        {
            return false;
        }
        foodList.push(addFood);

        for (i = 0; i < foodList.length; i++) {
            var newFood = "<a href='#' onClick='removeRecord(" + i + ");'>X</a> " + foodList[i] + "&nbsp;";
        };
        document.getElementById('foods').innerHTML += newFood;
        $("#PageArray").val("");
    }


    function removeRecord(i) {
        foodList.splice(i, 1);
        var newFood = "";
        // re-display the records from foodList the same way we did it in addToFood()
        for (var i = 0; i < foodList.length; i++) {
            newFood += "<a href='#' onClick='removeRecord(" + i + ");'>X</a> " + foodList[i] ;
        };
        document.getElementById('foods').innerHTML = newFood;
        $("#PageArray").val("");
    }
    </script>
